$primary-color: #ffe92e;
$secondary-color: black;
$tertiary-color: white;
$font-color: #aaa;
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

@function pxToRem($value) {
  @return $value * 0.06 + rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

h2 {
  font-weight: bolder;
  font-size: pxToRem(48);
}

h3 {
  font-weight: lighter;
  font-size: pxToRem(24);
}
