$primary-color: #ffe92e;
$secondary-color: black;
$tertiary-color: white;
$font-color: #aaa;
$box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.6);

@function pxToRem($value) {
  @return $value * 0.06 + rem;
}

@mixin reset-pm {
  padding: 0;
  margin: 0;
}

@mixin btn($bg-color, $color, $bolder) {
  background-color: $bg-color;
  color: $color;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @if ($bolder == 'true') {
    font-weight: bolder;
  }
}

* {
  @include reset-pm();
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: $secondary-color;
  text-decoration: none;
}

h2 {
  font-weight: bolder;
  font-size: pxToRem(48);
}

h3 {
  font-weight: lighter;
  font-size: pxToRem(24);
}

.container {
  background-color: white;
  margin: 100px auto;
  width: 1280px;
  padding: 50px;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);

  background-image: url(../assets/bg.jpg);
  background-size: 100% 100%;
}

ul {
  @include reset-pm();
  list-style: none;
  display: flex;
  gap: 20px;
  li {
    a {
      @include btn($primary-color, $secondary-color, 'true');
    }
  }
}
